body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    border-radius: 1rem; /*16px */
    padding: 0.5rem;

}
.sidebar{
    background-color:#000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
   
}
.main-content{
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 0 0.5rem 0;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0%;
    height: 70px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    font-weight: 700;
    line-height: 1.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.35rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    height: 100%;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lib-option img{
    height: 1.75rem;
    width: 1.75rem;
}
.icons{
    display: flex;
    font-size: 1.25rem
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232322;
    height: 9rem;
    border-radius: 0.75rem;
    margin: 0.65rem 0 1.25rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem ;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
    z-index: 1;
    
}
.sticky-nav-icons img{
  height: 2rem;
  width: 2rem;
  opacity: 0.7;
  margin-left: 0.75rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left:1.5rem;
    margin-top: 1.5rem;
}

.cards-container{
    display: flex; 
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
.art-img{
    width: 150px;
    height: 155px;
    border-radius: 50%;
    object-fit: cover;
}
.cards{
    padding-left: 1.5rem;
}
.cards h2{
    margin-left: 1.4rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.2;
    color: #fff;
    padding-top: 3rem;

}
.card:hover{
    background-color: #232323;
}
.cright{
    padding-right: 0.5rem;
}
.music{
    
    display:flex;
    align-items: center;
    width: 25%;
    margin-left: 5px;
}
.music-img{
    height: 50px;
    border-radius: 5px;
}
.m-info{
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    line-height: 0.4;
}
.artist-nm{
    font-size: 0.85rem;
    opacity: 0.75;
}
.music-name{
    font-size: 0.9rem;
    font-weight: 600;
}
.likei{
    padding-left: 1.5rem;
}
.track{
    width: 50%;
    
}
.m-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}
.m-icon i{
    padding: 0.65rem;
    border-radius: 50%;
}
.pause{
    color:#000;
    background-color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.p-icons{
    opacity: 0.7;
}
.p-icons:hover {
    opacity: 1;
}
.progress-bars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 50%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px ;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:0.7rem;
    width:0.7rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.m-element{
    width: 25%;
}
.m-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume1{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.volume1::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px ;
    height: 0.4rem;
}
.volume1::-webkit-slider-thumb{
    appearance: none;
    height:0.7rem;
    width:0.7rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -3px;
}
.m-item span{
    padding: 0.5rem;
}